@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
  body{font-family: "Montserrat", sans-serif}
  h1{text-align : center ; color : #44624A; font-size : 24px; font-weight : bold}
  h2{color : #8BA888; font-size : 20px; font-weight : bold}
  h3{color : #C0CFB2; font-size : 18px; font-weight : bold}
  h4{color : #C0CFB2; font-size : 16px; font-weight : bold}
  h5{color : #C0CFB2; font-size : 14px; font-weight : bold}
  strong{color : #8BA888}
  p>em{color : #C0CFB2}
  li>em{color : #C0CFB2}
  .toc{color : green}
  a:link{color : #8BA888; text-decoration : none}
  a:visited{color : #44624A; text-decoration : none}
  a:active{color : #C0CFB2; text-decoration : none}
  a:hover{font-weight : bold}
  
  .flex{display : flex}
  .flex > div {margin-right : 10px ; margin-left : 10px;}
